
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5e0e0;
  color: #333;
}

.container {
  background-color: #fad2f8;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.loading, .error{
  text-align:center;
  font-size: 1.9rem;
  color:rgb(76, 0, 255);
  background-color: #f5f2f2;
  padding: 50px;
  
}
.error{
  color:red;
}
h1{
  text-align: center;
  margin-bottom: 30px;
  color: #347cc5;
  font-style: italic;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}
.product-card {
  background: rgb(247, 221, 243);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(48, 48, 48, 0.1);
  padding: 15px;
  text-align: center;
 
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #34495e;
}

.product-description {
  font-size: 0.9rem;
  color: #7f8c8d;
  margin: 10px 0;
}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #27ae60;
} 
